html {
  cursor: url(./images/planeCursor.png), auto;
}

.btn:hover {
  cursor: url(./images/ButtonHoverCursor.png), auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-trash {
  color: #c50d0d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}


/* ----------------- Login Box ------------------ */
.signUpButton {
  float: right;
}

.login-box,
.signup-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(123, 123, 123, 0.3);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2,
.signup-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box,
.signup-box .user-box {
  position: relative;
}

.login-box .user-box input,
.signup-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label,
.signup-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label,
.signup-box .user-box input:focus ~ label,
.signup-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #ea0000;
  font-size: 12px;
}

.login-box form a,
.signup-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box a:hover,
.sign-up a:hover {
  background: #aeb9ba;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #ffffff, 0 0 25px #ffffff, 0 0 50px #ffffff,
    0 0 100px #ff6cbf;
}

.login-box a span,
.signup-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1),
.signup-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #555555);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.login-box a span:nth-child(2),
.signup-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #dad4d4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3),
.signup-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #555656);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4),
.signup-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #f9ffff);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}


/* ------------------ Trips Table ----------------- */
.container5 {
  height: 65vh;
  position: absolute;
  top: 45%;
  padding: 2%;

  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  padding-bottom: 0;
  border-radius: 10px;

}

.oldTRContainer {
  position: relative;
  overflow-y: auto;
  height: 90%;
  width: 98vw;
  margin-top: 2%;
  padding-left: 200px;
  padding-right: 200px;
}

.oldTR {
  animation: fadeIn forwards 1s;
  width: 97% !important;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  height: 10vh;
  margin-top: 2%;
  border-radius: 10px;
}

.tripInfo {
  margin-left: 6%;
  font-style: italic;
}

.oldTD {
  padding: 15px;
  color: rgb(0, 0, 0);
  height: 10vh;
}

.yourTripsText {
  color: white;
  margin-bottom: 10%;
  font-size: 2em;
  font-weight: 600;
}

.oldTD a {
  text-decoration: none !important;
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  box-shadow: inset 0 0 0 0 #760c8bc5;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
}

.TripManagerText {
  padding-top: 3%;
  color: rgb(0, 0, 0);
  font-size: 3em;
}

.trip-container {
  text-align: center;
}

.tripDeleteButton {
  position: absolute;
  left: 59vw;
  margin-left: 15%;
}

.login-box {
  animation: fadeIn ease-in-out 1s;
}

.fadeIn {
  animation: fadeIn forwards 1s !important;
}

.oldTD a:hover {
  color: #8518c4;
}

.oldTR:hover {
  background-color: rgba(233, 233, 233, 0.733) !important;
}

.oldTR {
  border: solid black 1px;
  height: 13vh;
}

.coolForm {
  height: 50vh;
  width: 50vh;
  z-index: 1000;
}


/* ---------------- Weather/Temperature Icons ---------------- */
.weatherIcon {
  position: fixed;
  z-index: 99;
  position: fixed;
  z-index: 99;
  height: 85px;
  width: 85px;
  left: 10px;
  top: 65px;
}

.temperature {
  position: fixed;
  z-index: 99;
  position: fixed;
  z-index: 99;
  left: 40px;
  top: 130px;
  color: white;
}

  #hero h2 {
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
/* } */

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }

  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
} */ */


/* -------------- Team --------------- */
.ri-linkedin-box-fill {
  background-image: url("https://cdn-icons-png.flaticon.com/512/145/145807.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 50%;
  width: 50%;
}

.ri-linkedin-box-fill {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/LinkedIn_icon_circle.svg/800px-LinkedIn_icon_circle.svg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50%;
  width: 50%;
}

.ri-instagram-fill {
  background-image: url("https://seeklogo.com/images/G/gitlab-logo-757620E430-seeklogo.com.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50%;
  width: 50%;
}

#team {
  padding-top: 10vh;
  padding-bottom: 20vh;
  position: relative;
  background-color: #0048ff00 !important;
  z-index: 100;
}

.team .member {
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 5px;
  background: #ffffff97;
  transition: 0.5s;
  height: 100%;
  text-align: justify;
}

.aboutTrip {
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 5px;
  background: #ffffff97;
  transition: 0.5s;
  height: 100%;
  text-align: justify;
}

.team .member .img-fluids {
  overflow: hidden;
  max-width: 200px;
  border-radius: 50%;
}

.team .member .pic img {
  transition: ease-in-out 0.3s;
}

.team .member:hover {
  transform: translateY(-10px);
}

.team .member .member-info {
  padding-left: 30px;
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #373737;
}

.team .member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.team .member span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #1146a2;
  bottom: 0;
  left: 0;
}

.team .member p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.team .member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.team .member .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  background: #ffffff;
}

.team .member .social a i {
  color: #37517e;
  font-size: 16px;
  margin: 0 2px;
}

.team .member .social a:hover {
  background: #47b2e4;
}

.team .member .social a:hover i {
  color: #ffffff;
}

.team .member .social a + a {
  margin-left: 8px;
}

.teamH2 {
  margin-bottom: 10vh !important;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}


/* ========== about tripager ============ */
#aboutTripager {
  padding-bottom: 20vh;
  position: relative;
  background-color: rgba(255, 255, 255, 0) !important;
  z-index: 100;
}


/* ========== technologies ============ */
#technologies {
  /* padding-top: 20vh; */
  padding-bottom: 20vh;
  position: relative;
  background-color: #f3f5fa00 !important;
  z-index: 100;
}

.thingsToDoForm {
  padding-top: 8vh;
}

.excurs {
  position: relative;
  display: block;
  margin-top: 30px;
  padding: 40px 40px 40px 40px;
}


/* ========== navbar ============ */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
    text-align: center;
  }
  .navbar-brand {
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.4);
  }

  .nav-link {
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.4);
  }

.navbar-nav.dropdown-menu {
  text-align: left;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 0;
}

.ml-auto {
  margin-left: auto !important;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.navbar li {
  position: relative;
}

.navbar a:focus {
  outline: none;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #47b2e4;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 8px 20px;
  margin-left: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #31a9e1;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #0c3c53;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #47b2e4;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}


/* modal css */
.modal-body {
  background-color:  rgba(209, 204, 204, 0.225);;
}

.modal-header {
  background-color: rgba(244, 244, 244, 0.725);
}

section#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


/* ---------------MainPage Text---------------- */
h1 {
  position: relative;
  z-index: 1;
  text-align: center;
}

h2 {
  position: relative;
  z-index: 1;
  text-align: center;
}


/* ----------------Card Carousel---------------- */
.carousel-control-next,
.carousel-control-prev {
  color: black !important;
}

.createEventButton {
  width: 20vw;
  margin-left: 40vw;
  margin-bottom: 2%;
}

.card {
  height: 55vh !important;
  width: 40vh !important;
}

.card-text {
  margin: 0;
  padding: 0;
}

.carousel-indicators {
  position: absolute !important;
  bottom: -5vh !important;
  z-index: 9999;
}

.deleteButtonEvents {
  position: absolute;
  width: 100px;
  right: 10px;
  bottom: 10px;
}

.editButtonEvents {
  position: absolute;
  width: 100px;
  right: 125px;
  bottom: 10px;
}

.eventsH1 {
  margin-top: 2vh;
  color: rgb(0, 0, 0);
  margin-bottom: 2vh;
}

.eventsCardBody {
  background-color: rgba(225, 18, 18, 0) !important;
}

.card {
  background-color: #d6d3d392 !important;
}

.eventsCardImage {
  height: 30vh;
}

section#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  z-index: 1;
  color: white;
}

h2 {

  z-index: 1;
  color: white;
}

.navbar a i,
.text {
  text-align: center;
  z-index: 1;
}

.tripagerFooter {
  z-index: 9999 !important;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #413E3F !important;
  text-align: center;
}

.footer-rights {
  font-size: 14px;
}

.team .members {
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 0px;
  border-radius: 5px;
  background: #ffffff97;
  height: 100%;
  margin-bottom: 10px;
}

.team .members2 {
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 0px;
  border-radius: 5px;
  background: #ffffff97;
  height: 100%;
  margin-bottom: 10px;

}
.tech-padding{
  padding: 10px;
}

.team .members .tech-link {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin: 0;
}

.team .members .pic {
  text-align: left;
  height: 110px;
  width: 100px; /* adjusted from 200px */
  border-radius: 50%; /* adjusted from 200px */
  overflow: hidden; /* added to ensure image is circular */
}

.team .members .img-fluid {
  height: 100%;
  width: 100%;
  object-fit:fill /* added to ensure image fits inside the circular container */
}


.team .members .img-fluid2 {
  height: 100%;
  width: 100%;
  object-fit:fill /* added to ensure image fits inside the circular container */
}
.team .members h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #373737;
}

.team .members span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.team .members span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #1146a2;
  bottom: 0;
  left: 0;
}

.team .members p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.team .members .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.team .members .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 50px; */
  /* width: 32px;
  height: 32px; /* uncommented height and background
  background: #ffffff;  */
}


/* .team .members .social a i {
  color: #37517e;
  font-size: 16px;
  margin: 0 2px;
} */

/* .team .members .social a:hover {
  background: #47b2e4;
}

.team .members .social a:hover i {
  color: #ffffff;
}

.team .members .social a + a {
  margin-left: 8px;
} */



.createTripButton {
  width: 20vw;
  margin-left: 40vw;
  margin-bottom: 2%;
}


/*
<!-- HTML !-->
<button class="button-46" role="button">Button 46</button> */

/* CSS */
/* .createTripButton {
  align-items: center;
  background-color: rgba(240, 240, 240, 0.26);
  border: 1px solid #DFDFDF;
  border-radius: 16px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 28px;
  max-width: 100%;
  padding: 14px 22px;
  text-decoration: none;
  transition: all .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.createTripButton:active,
.createTripButton:hover {
  outline: 0;
}

.createTripButton:hover {
  background-color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.19);
}

@media (min-width: 768px) {
  .createTripButton {
    font-size: 20px;
    min-width: 200px;
    padding: 14px 16px;
  }
} */

/* <!-- HTML !-->
<button class="button-38" role="button">Button 38</button> */

/* CSS */
.createTripButton {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-38:hover {
  background-color: rgb(249,250,251);
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}

.submit-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.submit-button {
  margin-top: 20px;
  background-color: rgba(137, 137, 137, 0) !important;
  color: black !important;
  transition: 0.3s;
  /* Add a box-shadow for the glow effect */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
}

.submit-button:hover {
  /* Change the box-shadow on hover to create the glow effect */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.5);
}

.roulette-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blinking-text {
  display: inline-block;
  font-size: 48px;
}

.blinking-text span {
  opacity: 1;
  animation: blink 6s linear infinite;
}

.blinking-text span:nth-child(2) {
  animation-delay: 0.2s;
}

.blinking-text span:nth-child(3) {
  animation-delay: 0.4s;
}

.blinking-text span:nth-child(4) {
  animation-delay: 0.6s;
}

.blinking-text span:nth-child(5) {
  animation-delay: 0.8s;
}

.blinking-text span:nth-child(6) {
  animation-delay: 1s;
}

.blinking-text span:nth-child(7) {
  animation-delay: 1.2s;
}

.blinking-text span:nth-child(8) {
  animation-delay: 1.4s;
}

.blinking-text span:nth-child(9) {
  animation-delay: 1.6s;
}

.blinking-text span:nth-child(10) {
  animation-delay: 1.8s;
}

.blinking-text span:nth-child(11) {
  animation-delay: 2.0s;
}

.blinking-text span:nth-child(12) {
  animation-delay: 2.2s;
}

.blinking-text span:nth-child(13) {
  animation-delay: 2.4s;
}

.blinking-text span:nth-child(14) {
  animation-delay: 2.6s;
}

.blinking-text span:nth-child(15) {
  animation-delay: 2.8s;
}

.blinking-text span:nth-child(16) {
  animation-delay: 3.0s;
}

.blinking-text span:nth-child(17) {
  animation-delay: 3.2s;
}

.blinking-text span:nth-child(18) {
  animation-delay: 3.4s;
}

@keyframes blink {
  0%, 37.5%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
}

