.hero_homepage_text {
display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: translateY(-52%);
    z-index: 100;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.h1_homepage_text {
    font-size: 60px;
}

.h2_homepage_text {
    font-size: 30px;
}
