@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
  font-family: "Poppins", sans-serif;
} */

.profile-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 30px;
  color: black;
  justify-content: center;
  margin-top: 13vh;
  width: 100vw !important;
  margin-left: 0;
}

.profile-cards .card {
  width: 20vw;
  height: 40vh;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.profile-cards .card:hover .card-details,
.profile-cards .card:hover .card-details-social a {
  transform: none;
}

.profile-cards .card:hover img {
  filter: blur(3px);
  transform: scale(1.2);
}

.profile-cards .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.profile-cards .card .card-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: translateY(100%);
  transition: all 0.3s;
}

.profile-cards .card .card-details-title {
  font-size: 18px;
}

.profile-cards .card .card-details-social {
  display: flex;
}

.profile-cards .card .card-details-social ul,
.profile-cards .card .card-details-social ul li a {
  display: flex;
}

.profile-cards .card .card-details-social ul li {
  list-style-type: none;
  margin-right: 15px;
}

.profile-cards .card .card-details-social ul li:nth-child(1) a {
  transition-delay: 0.1s;
}

.profile-cards .card .card-details-social ul li:nth-child(2) a {
  transition-delay: 0.2s;
}

.profile-cards .card .card-details-social ul li:nth-child(3) a {
  transition-delay: 0.3s;
}

.profile-cards .card .card-details-social ul li a {
  width: 35px;
  height: 35px;
  color: #272727;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 5px 4px grey;
  cursor: pointer;
  transform: translateY(50px);
  transition: all 0.3s;
}

.profile-cards .card .card-details-social ul li a svg {
  width: 20px;
  height: 20px;
}

.container {
  margin: 0 !important;
  padding: 0 !important;
}

.card {
  padding: 2px;
  border: solid 1px rgb(231, 105, 105);
}

@keyframes background-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
